---
import "@styles/home_page.css"
import "@styles/fontawesome/css/fontawesome.css"
import "@styles/fontawesome/css/brands.css"
import "@styles/fontawesome/css/solid.css"
import "@styles/poppins_font.css"

import { Navbar } from "@components/_common/Navbar"
import Footer from "@components/_common/Footer.astro"

interface Props {
  title: string
  activePage?: string
  metaUrl?: string
  metaImage?: string
  metaDescription: string
}

const { title, metaUrl, metaImage, metaDescription } = Astro.props
---

<!doctype html>
<html lang="en">
  <!-- for google search -->
  <meta
    name="google-site-verification"
    content="haSqOW7yYrOiz_6U0wAqWSb7IBGh10_KZ8cNkRJXyhQ"
  />

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title} - ECGC</title>
  <meta name="description" content={metaDescription} />
  <meta name="og:title" content={title} />
  <meta
    name="og:url"
    content={`https://samheart564.github.io/ECGC${metaUrl ? `/${metaUrl}` : ""}`}
  />
  {metaImage && <meta name="og:image" content={`/images/${metaImage}`} />}
  <meta name="og:description" content={metaDescription} />

  <link rel="icon" type="image/x-icon" href="images/misc/SiteIcon.ico" />

  <>
    <noscript>Your browser does not support JavaScript!</noscript>
  </>

  <Navbar client:load />
  <body>
    <slot />
  </body><Footer />
</html>
